.toolbar{
  position: relative;

 float: right;
}

.srch {
    position: fixed;

top: 40%;
left:50%;
transform: translate(-50%, -50%);
}

.foot{
  position: fixed;
  bottom: 0;
  background-color: grey;
}

.footR {
  background-color: grey;
  position: fixed;
  bottom: 0;
  right: 0;
}
